---
import { NewsList } from '@/components/views/NewsList'
import Layout from '@/layouts/Layout.astro'

const meta = {
  title: 'DemoSite',
}
---

<Layout meta={meta}>
  <main>
    <NewsList />
  </main>
</Layout>
